.button {
    border: none;
    color: #ffffff;
    padding: 10px 16px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    min-width: 125px;
    background-color: red;
}

.button_progress{
    position: absolute;
    height: 100%;
    width:0%;
    top: 0;
    left: 0;
    background-color: gray;
}